<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="utf-8">
<title>Logowanie</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_style.css') }}">
</head>
<body>
<div id="formularz">
<h1>Logowanie</h1>
<form method="POST" action="#">
    <label for="username">Nazwa uzytkownika</label> 
    <input type="text" name="username" placeholder="Nazwa użytkownika">
    <br>
    <label for="password">Hasło</label>
    <input type="password" name="password" placeholder="Hasło">
    <br>
    <button type="submit">Zaloguj</button>
    {% if 'url' in session %}
        <a href="{{ session['url'] }}">Powrót</a>
    {% else %}
        <a href="/home">Powrót</a>
    {% endif %}
</form>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

<script>
    $("button, a").on("mouseenter", function(){
        $(this).css("background-color", "#9a7b4f");
    }).on("mouseleave", function(){
        $(this).css("background-color", "#3c280c");
    });
</script>
</body>
</html>