<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="utf-8">
<title>Funkcje logarytmiczne i wykładnicze</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sugina-dev/latin-modern-web@1.0.1/style/latinmodern-mono.css">
<link rel="stylesheet", href="{{ url_for('static', filename='css/autorzy_style.css') }}">

<script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<script type="text/javascript" charset="UTF-8"
 src="https://cdn.jsdelivr.net/npm/jsxgraph/distrib/jsxgraphcore.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/jsxgraph/distrib/jsxgraph.css" />
<link href="https://fonts.cdnfonts.com/css/latin-modern-roman" rel="stylesheet">


</head>
<body>
<header>Funkcje logarytmiczne i wykładnicze</header>
<hr>
<nav>
    <div class="button"><a href="/home"><img src="{{url_for('static', filename='graphics/home.png')}}" alt=”icon” id="home_icon">Główna</a></div>
    <div class="button" id="przyklady_button"><span><img src="{{url_for('static', filename='graphics/przyklady.png')}}"  alt=”icon” id="przyklady_icon">Przykłady i zadania</span>
    <div class="dropdown-content">
        <a href="/przyklady_wyk">Funkcje wykładnicze</a>
        <a href="/przyklady_log">Funkcje logarytmiczne</a>
    </div>
    </div>
    <div class="button"><a href="/o_projekcie"><img src="{{url_for('static', filename='graphics/info.png')}}"  alt=”icon” id="info_icon">O projekcie</a></div>
    <div class="button" id="active"><a href="/o_autorach"><img src="{{url_for('static', filename='graphics/about.png')}}" alt=”tekst” id="about_icon">O autorach</a></div>
</nav>
<hr>

<div class="content">
<main>
    <h1>O nas</h1>
    <div class="o_nas">
        <p>Cześć! Z tej strony Asia i Tomek.</p>
        <p>Jesteśmy studentami pierwszego roku matematyki stosowanej na Politechnice Wrocławskiej.</p>
       <p> Na naszym kierunku, oprócz pogłębiania wiedzy matematycznej, uczymy&nbspsię 
        technologii przydatnych do&nbsptworzenia i&nbsppublikowania treści naukowych. 
        Podczas drugiego semestru mieliśmy okazję zapoznać&nbspsię z&nbsp Gitem, systemem składu tekstu \(\LaTeX \) oraz&nbsp zestawem narzędzi potrzebnych do&nbsptworzenia stron internetowych. 
        Strona ta&nbsppowstała, aby&nbspzademonstrować nasze nowo nabyte umiejętności. <br>Po więcej szczegółów kliknij <a href="/o_projekcie">tutaj</a>.</br> </p>
    </div>
</main>

<aside>
    {% if current_user.is_authenticated %}
    <h2>Zalogowano jako</h2>
    <h2>{{ current_user.username }}</h2>
    {% if current_user.liked %}
    Moje polubione przykłady:
    <ul>
        {% set liked = current_user.liked.split(',') %}
        {% for example in liked %}
            {% if 'Wykładnicze' in example %}
                <li><a href="{{ url_for('.przyklady_wyk', _anchor=example)}}">{{ example }}</a></li>
            {% else %}
                <li><a href="{{ url_for('.przyklady_log', _anchor=example)}}">{{ example }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    Brak polubionych.
    {% endif %}
    <div class="aside_button"><a href="/logout">Wyloguj</a></div>
    {% else %}
    <h3>Nie jesteś zalogowany</h3>
    <div class="aside_button"><a href="/login">Zaloguj</a></div>
    <div class="aside_button"><a href="/sign_up">Zarejestruj</a></div>
    {% endif %}
</aside>
</div>

<footer>
    <p>&copy; 2023 Joanna Kusy, Tomasz Srebniak, Igor Kociszewski |
    <a href="/home">Główna</a> |
    <a href="/przyklady_wyk">Funkcje wykładnicze</a> |
    <a href="/przyklady_log">Funkcje logarytmiczne</a> |
    <a href="/o_projekcie">O projekcie</a> |
    <a href="/o_autorach">O autorach</a>
    </p>
</footer>
  
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script>
    $(".button").on("mouseenter", function(){
        $(this).css("background-color", "#9a7b4f");
    }).on("mouseleave", function(){
        if (this.id != "active") {
            $(this).css("background-color", "#3c280c");
        }
    });

    $(".aside_button a").on("mouseenter", function(){
        $(this).css("background-color", "#9a7b4f");
    }).on("mouseleave", function(){
        $(this).css("background-color", "#3c280c");
    });

    $('aside ul li a').on("mouseenter", function(){
        $(this).css("color", "#9a7b4f");
    }).on("mouseleave", function(){
        $(this).css("color", "#3c280c");
    });

    $("footer a").on("mouseenter", function(){
        $(this).css("color", "#9a7b4f");
    }).on("mouseleave", function(){
        $(this).css("color", "white");
    });
    $("#przyklady_button").on("click", function(e){
        $(".dropdown-content").toggleClass("show");
    });
    $("#przyklady_button").on("mouseleave", function(e){
        $(".dropdown-content").removeClass("show");
    });
    $(".dropdown-content a").on("mouseenter", function(e){
        $(this).css("background-color", "#9a7b4f");
    }).on("mouseleave", function(e){
        $(".dropdown-content a").css("background-color", "#3c280c");
    });
</script>
</body>
</html>